{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">

    <h2>Rental List</h2>

    <a href="{% url 'add_rental' %}" class="btn btn-primary">
        + New Rental
    </a>

</div>

<table id="rentalTable" class="table table-bordered table-striped">
    <thead class="table-dark">

        <tr>
            <th>Customer</th>
            <th>Bike</th>
            <th>Rent Date</th>
            <th>Return Date</th>
            <th>Daily Rent</th>
            <th>Status</th>
            <th>Action</th>
            <th>Total Days</th>
            <th>Total Rent</th>
            <th>Remaining</th>
        </tr>

    </thead>

    <tbody>

    {% for rental in rentals %}

        <tr>

            <td>{{ rental.customer }}</td>
            <td>{{ rental.bike }}</td>
            <td>{{ rental.rent_date }}</td>
            <td>{{ rental.return_date }}</td>
            <td>₹ {{ rental.daily_rent }}</td>
            <td>{{ rental.total_days }}</td>

            <td>₹ {{ rental.total_amount }}</td>

            <td>₹ {{ rental.remaining_amount }}</td>

            <td>
                {% if rental.status == "Active" %}
                    <span class="badge bg-success">
                        Active
                    </span>
                {% else %}
                    <span class="badge bg-secondary">
                        Completed
                    </span>
                {% endif %}
            </td>

            <td>

                {% if rental.status == "Active" %}

                    <a href="{% url 'return_bike' rental.id %}"
                       class="btn btn-warning btn-sm">
                        Return
                    </a>

                {% else %}

                    <button class="btn btn-secondary btn-sm" disabled>
                        Returned
                    </button>

                {% endif %}

            </td>

        </tr>

    {% empty %}

        <tr>
            <td colspan="7" class="text-center">
                No Rentals Found
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}



<script>
$(document).ready(function () {
    $('#rentalTable').DataTable();
});
</script>